

<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink=''>GeoPortal</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink='map'>Map</a>
        </li>

        @if (authService.isLoggedIn$ |async) {
          <li class="nav-item">
            <a class="nav-link" routerLink='projects'>Projects</a>
          </li>
        }
        
        <li class="nav-item">
          <a class="nav-link"  routerLink="user/register">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About Us</a>
        </li>
        <li>

        </li>
      </ul>

          @if (authService.isLoggedIn$ | async) {
            <ul class="navbar-nav">
              <li class= "nav-item">
                <a class="nav-link" routerLink='profile'>{{localUsername}}</a>
              </li>
              <li class= "nav-item">
                <button mat-icon-button (click)="logout()" class="button">
                <mat-icon class="d-flex">logout</mat-icon>
                </button>
              </li>
            </ul>

          } @else {
            <ul class="navbar-nav">
              <li class= "nav-item">
                <a class="nav-link">Not Logged</a>
              </li>
              <li class= "nav-item">
                <button mat-icon-button (click)="loginNav()" class="button">
                <mat-icon class="d-flex" matListIcon>person</mat-icon>
                </button>
              </li>
            </ul>
          }
    </div>
  </div>
</nav>

<router-outlet />
