<p>map works!</p>
<br>

<mat-card style="width: auto; height: auto;">
  <!--mat-card-header>
    <mat-card-title>Mapa Demo</mat-card-title>
  </mat-card-header-->
  <mat-card-content style="width: auto; height: auto;">

  </mat-card-content>

  <!-- Start of Selection -->
  <div style="align-items: center; display: flex; justify-content: left;">
    <button type="button" class="btn btn-outline-secondary" (click)="goUserLocation()">Find me</button>
    @if (userLocation) {
      <p style="margin-left: 10px;">latitud: {{userLocation[0]}}, longitud: {{userLocation[1]}}, precisión: {{userLocation[2].toFixed(3)}} </p>
    }
  </div>
  <!-- End of Selection -->

</mat-card>
<br>


<div class="container">
  <div id="map" class="map-container"></div>

  @if (inputGeoJSON === true) {
    
    <form class="geoJSON-form">
      <mat-form-field class="example-full-width">
        <mat-label>Paste the GeoJSON</mat-label>
        <textarea matInput placeholder='{ "type": "FeatureCollection",
        "features": [
          { "type": "Feature",
            "geometry": {
              "type": "Point",
              "coordinates": [102.0, 0.5]
              },
              "properties": {
                "prop0": "value0"
              }
            },
          { "type": "Feature",
            "geometry": {
              "type": "LineString",
              "coordinates": [
                [102.0, 0.0], [103.0, 1.0], [104.0, 0.0], [105.0, 1.0]
                ]
              },
            "properties": {
              "prop0": "value0",
              "prop1": 0.0
              }
            },
          { "type": "Feature",
             "geometry": {
               "type": "Polygon",
               "coordinates": [
                 [ [100.0, 0.0], [101.0, 0.0], [101.0, 1.0],
                   [100.0, 1.0], [100.0, 0.0] ]
                 ]
             },
             "properties": {
               "prop0": "value0",
               "prop1": {"this": "that"}
               }
             }
           ]
          }' style="width: 100%; height: 100%;"></textarea>
        </mat-form-field>
        <button type="button" class="btn btn-primary" (click)="uploadGeoJSON()">Upload GeoJSON</button>
    </form>
    <br>

  }@else {

  }
  
</div>




@if (authService.isLoggedIn$ |async) {
  <mat-card style="width: auto; height: auto;">
    <mat-card-header>
      <mat-card-title>Entidades</mat-card-title>
      <mat-card-subtitle>Descripción</mat-card-subtitle>
    </mat-card-header>  
  </mat-card>
  

  <div style="align-items: center; display: flex; justify-content: right;">
  
    <button type="button" class="btn btn-outline-secondary" style="margin: 3px;" (click)="getParcels()" >Parcels</button>
    <button type="button" class="btn btn-outline-secondary" style="margin: 3px; color: white; background-color: black;" (click)="changeInputGeoJSON()">add GeoJSON</button>
    <button type="button" class="btn btn-outline-secondary" style="margin: 3px;" (click)="initDrawControl()" >Draw Parcel</button>
  </div>

  
  
  <div >
    <app-projects [drawWkt] = "drawWkt"></app-projects>
  </div>
}
