<p>map works!</p>
<br>

<mat-card style="width: auto; height: auto;">
  <mat-card-header>
    <mat-card-title>Temàtica del mapa</mat-card-title>
    <mat-card-subtitle>Descripción</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content style="width: auto; height: auto;">

  </mat-card-content>

</mat-card>
<br>

<!-- Start of Selection -->
<div style="align-items: center; display: flex; justify-content: left;">
  <button type="button" class="btn btn-outline-secondary" (click)="goUserLocation()">Find me</button>
  @if (userLocation) {
    <p style="margin-left: 10px;">latitud: {{userLocation[0]}}, longitud: {{userLocation[1]}}, precisión: {{userLocation[2].toFixed(3)}} </p>
  }
</div>
<!-- End of Selection -->

<div style="align-items: center; display: flex; justify-content: left;">
  <button type="button" class="btn btn-outline-secondary" >Parcels</button>
</div>

<div id="map" class="map-container" style="align-items: center;"></div>
