.container {
  display: flex;
  gap: 16px; /* Espacio entre el mapa y el formulario */
}

.map-container {
  flex: 1 1 70%; /* El mapa ocupa la mitad del contenedor */
  min-height: 480px; /* Altura mínima para el mapa */
  background-color: #e0e0e0; /* Color de fondo como referencia visual */
}

.inputGeoJSONForm {
  flex: 1 1 30%; /* El formulario ocupará el mismo ancho que el mapa */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

textarea {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .inputGeoJSONForm,
  .example-form {
    flex: 1 1 100%; /* Ambos elementos ocupan el ancho completo en pantallas pequeñas */
    min-height: 300px; /* Ajuste de altura mínima para pantallas pequeñas */
  }
}
